@tailwind base;
@tailwind components;

@font-face {
    font-family: "Inter";
    src: url("../../public/fonts/Inter/Inter-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Inter";
    src: url("../../public/fonts/Inter/Inter-SemiBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Inter";
    src: url("../../public/fonts/Inter/Inter-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Inter";
    src: url("../../public/fonts/Inter/Inter-ExtraBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Inter";
    src: url("../../public/fonts/Inter/Inter-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Inter";
    src: url("../../public/fonts/Inter/Inter-Thin.ttf") format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "JKGothic";
    src: url("../../public/fonts/JKGothic/JKGothic-Medium.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

.minus-circle-50vw {
    left: calc(-512rem + 50vw);
}

@tailwind utilities;